# Dependencies
node_modules/

# Next.js
frontend/.next/
frontend/out/

# Env files
*.local
.env
.env.*
!.env.example
!.env.local.example

# Python
**/__pycache__/
*.pyc
backend/venv/
backend/*.db

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
